.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-top: 0.7rem;
  float: right;
}

#dropdown-basic{
  text-align: left;
}

.chartBorder {
  border-bottom: 1px solid orange !important;
}

.drawerOpen {
  transition: width 1s !important;
  -webkit-transition: width 1s !important;
  width:25%;
}

.drawerClose{
  width: 8.333%; 
  transition: width 1s !important;
  -webkit-transition: width 1s !important;
}

.dashboardShort{
  width: 75%; 
  transition: width 1s !important;
  -webkit-transition: width 1s !important;
}

.dashboardLong{
  width: 91.666667%; 
  transition: width 1s !important;
  -webkit-transition: width 1s !important;
}